{% autoescape off %}
<div class="PlainText">
          <textarea name="inputtext" class="PLAIN" cols="200" rows="1000" id="{{idn}}">{{plaintext}}</textarea>
        </form>
      </div>
{% endautoescape %}



<!--<div class="segmentmenu">
        
        <form action="/action_page.php">
          <button class="menubutton removeQUD" style="vertical-align:middle"><span>DEL</span></button>   
        </form>  
        <form action="/action_page.php">
          <button class="menubutton pushdown" style="vertical-align:middle"><span><-</span></button>
        </form>
          <form action="/action_page.php">
          <button class="menubutton pushup" style="vertical-align:middle"><span>-></span></button>
        </form> 
          <div class="block"></div>
          <form action="/action_page.php">
          <input type="text" id="lname" name="lname" value="QUD">
          <button class="menubutton sub" style="vertical-align:middle"><span>#</span></button>
        </form>
        <form>
          <div class="block"></div>
          <select name="classif" id="classif">
            <option value="volvo">F</option>
            <option value="saab">T</option>
            <option value="mercedes">BG</option>
            <option value="audi">NAI</option>
          </select>
          <button class="menubutton classify" style="vertical-align:middle"><span>CLS</span></button>
          </form> 
          <div class="block"></div>
          <div class="wrapLabel">{{wraplabel}}</div>
    </div>     
  -->