{% autoescape off %}
<div class="embed">
  <div class="wrapQUD"> <!--id="{{idn}}"-->
    <div class="qudmenu">

        <form action="{% url 'viewer:addQUD' %}" method="post">
            {% csrf_token %}
           <button name="addQUD" value="{{idn}}" class="menubutton addQUD" style="vertical-align:middle"><span>QUD</span></button>
        </form> 
        
        <!--
        <form action="{% url 'viewer:removeQUD' %}" method="post">
            {% csrf_token %}
          <button name="removeQUD" id="{{idn}}" value="{{idn}}" class="menubutton removeQUD" style="vertical-align:middle"><span>DEL</span></button>   
        </form>  -->


        <button class="menubutton removeQUD" onclick="showModal('{{idn_del}}')">DEL</button>

        <div id="{{idn_del}}" class="modal">
          <h5>Do you really want to delete this QUD?</h5>
          <span onclick="hideModal('{{idn_del}}')" class="close" title="Close Modal">&times;</span>
          <form action="{% url 'viewer:removeQUD' %}" method="post">
            {% csrf_token %}
            
            
            <button name="removeQUD" value="{{idn}}" class="deletebutton" style="vertical-align:middle"><span>DELETE</span></button>
          </form>
        </div> 


          <!--<div class="block"></div>-->


          <form action="{% url 'viewer:associateQUD' %}" method="post">
              {% csrf_token %}
          <input name="associate" type="text"> <!--id="{{idn}}"-->
          <button name="associateButton" value="{{idn}}" class="menubutton sub" style="vertical-align:middle"><span>#</span></button>
        </form>
         
        
        <!--<div class="block"></div>-->
        
        

          <form action="{% url 'viewer:addSubSegment' %}" method="post">
              {% csrf_token %}
          <button name="addSegment" value="{{idn}}" class="menubutton addSeg" style="vertical-align:middle"><span>UNIT</span></button>
        </form>
        
        
        
        <form action="{% url 'viewer:moveUp' %}" method="post">
              {% csrf_token %}
          <button name="pushUp" value="{{idn}}" class="menubutton pushup" style="vertical-align:middle"><span>up</span></button>
        </form>
         
        
        <form action="{% url 'viewer:moveDown' %}" method="post">
              {% csrf_token %}
          <button name="pushDown" value="{{idn}}" class="menubutton pushdown" style="vertical-align:middle"><span>down</span></button>
        </form> 

        <form action="{% url 'viewer:classify' %}" method="post">
          <select name="classify">
            <option value="QUD">QUD</option>
            <option value="QUD-OVERT">QUD-OVERT</option>
          </select>
          {% csrf_token %}
          <button name="classifybutton" value="{{idn}}" class="menubutton classify" style="vertical-align:middle"><span>CLS</span></button>
          </form>
          {% if qud_class == "QUD" %} 
          <div class="wrapLabel">QUD</div>
          {% elif qud_class == "QUD-OVERT" %}
          <div class="wrapLabel">OVERT</div>
          {% else %}
          <span></span>
          {% endif %}
    </div>  
    


    <div class="wrapfields">
  <form id="{{idn}}" onkeypress="submitTextAreaOnKeyPress('{{idn}}')" action="{% url 'viewer:submitArea' %}" method="post">
      <textarea name="inputtext" class="QUD" cols="30" rows="1">{{qud}}</textarea>
      {% csrf_token %}
      <input type="hidden" name="submitArea" value="{{idn}}" class="inputsubmitbutton submitQUDText" style="vertical-align:middle"><span></span></input>  
    </form>
  </div>
     <h3 onclick="copy(this)">{{ident}}</h3> 
    </div>
    <button class="collapsible" style="vertical-align:middle"><span></span></button>
      {{deepembed}} 


</div>  
  
{% endautoescape %}

<!--
<div class="block"></div>
          <input type="text" id="lname" name="lname" value="1.1...">
          <input type="submit" value="join">-->