{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'viewer/style.css' %}" />
</head>

<body onload="reloadScroll('{{reload}}')">


  <div id="overlay" style='display:{{overlay}}' onclick="off()">
    <div id="text"><h2>{{message}}</h2></div>
  </div>
  

  <div id = "left">
  
    <div class="palette">

        <div class="progress-container">
            <div class="progress-bar" id="leftBar"></div>
        </div>
        <form action="{% url 'viewer:saveFile' %}" method="post">
          <button onclick='hidebadge("lbadge")'  name="saveleft" class="notificationbutton" style="vertical-align:middle"><span>save</span><span id="lbadge" class="badge">{{lb}}</span></button>  
          {% csrf_token %}
        </form>

        
      
        <form action="{% url 'viewer:openFile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
               <!--<input type="file" id="leftfile" name="leftfile">-->
               <label class="custom-file-upload">
                 browse
                 <input type="file" id="leftfile" name="leftfile">
                </label> 
               <button id ="buttonfile1", name="buttonfile1" class="palettebutton save" style="vertical-align:middle"><span>open </span></button> 
              
               <!--<button class="openfilebutton" id ="buttonfile1", name="buttonfile1">open</button>
               <label class="file_browser">
                 <input type="file" id="leftfile" name="leftfile">
                 browse
               </label>-->     
       
    </form>
    
    <form action="{% url 'viewer:close' %}" method="post">
      {% csrf_token %}
         <button id ="closeleft", name="closeleft" class="palettebutton save" style="vertical-align:middle"><span>close</span></button>  
 
    </form>

    <form action="{% url 'viewer:initiate' %}" method="post">
      <button name="initleft" class="palettebutton save" style="vertical-align:middle"><span>new</span></button>  
      {% csrf_token %}
    </form>



<form action="{% url 'viewer:agreement' %}" method="post">
  <button name="agreement" class="palettebutton" style="vertical-align:middle"><span>IAA</span></button>  
{% csrf_token %}
</form>



<!--
<button name="toggle" onclick="toggle()" class="palettebutton" style="vertical-align:middle"><span>toggle</span></button>  
-->
    
  
      </div>   
    
     
      
  {{leftfile}}
    </div>

<div id="right">
    <div class="palette">
        <div class="progress-container">
            <div class="progress-bar" id="rightBar"></div>
        </div>

        {% if filetype == 'XML' %}
        <form action="{% url 'viewer:saveFile' %}" method="post">
          <button  onclick='hidebadge("rbadge")' name="saveright" class="notificationbutton" style="vertical-align:middle"><span>save</span><span id="rbadge" class="badge">{{rb}}</span></button>  
          {% csrf_token %}
        </form>
        <form action="{% url 'viewer:openFile' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <label class="custom-file-upload">
            browse
            <input type="file" id="rightfile" name="rightfile"> 
           </label>     
             <button id ="buttonfile2", name="buttonfile2" class="palettebutton save" style="vertical-align:middle"><span>open </span></button>  
     
  </form>
  <form action="{% url 'viewer:close' %}" method="post">
    {% csrf_token %}
       <button id ="closeright", name="closeright" class="palettebutton save" style="vertical-align:middle"><span>close</span></button>  
  </form>



  <form action="{% url 'viewer:initiate' %}" method="post">
    <button name="initright" class="palettebutton save" style="vertical-align:middle"><span>new</span></button>  
    {% csrf_token %}
  </form>

  <form action="{% url 'viewer:toggleFileType' %}" method="post">
    {% csrf_token %}
       <button id ="toggleFileType", name="toggleFileType" class="palettebutton save" style="vertical-align:middle"><span>{{filetype}}</span></button>  
  </form>


  {% elif filetype == 'TXT' %}
  
  <form action="{% url 'viewer:openFile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label class="custom-file-upload">
      browse
      <input type="file" id="rightfile" name="rightfile"> 
     </label>     
       <button id ="buttonfile2", name="buttonfile2" class="palettebutton save" style="vertical-align:middle"><span>open </span></button>  

</form>
<form action="{% url 'viewer:close' %}" method="post">
{% csrf_token %}
 <button id ="closeright", name="closeright" class="palettebutton save" style="vertical-align:middle"><span>close</span></button>  
</form>

<form action="{% url 'viewer:toggleFileType' %}" method="post">
  {% csrf_token %}
     <button id ="toggleFileType", name="toggleFileType" class="palettebutton save" style="vertical-align:middle"><span>{{filetype}}</span></button>  
</form>

{% endif %}
      </div>    
        
<!--
    
        <form action="/action_page.php">
          <label for="fname"></label>
          <textarea class="QUD" cols="30" rows="10" id="fname" name="firstname" placeholder="Your name..">
            </textarea>
            </form>

            <div class="embed">
            <form action="/action_page2.php">
              <label for="lname"></label>
              <textarea class="SEGMENT" cols="30" rows="10" id="lname" name="lastname" placeholder="Your name..">
              </textarea>
              </form>
            </div>
-->

{{rightfile}}
</div>

<footer>
    <input type="range" min="30" max="70" value="50" class="slider" id="myRange">
  </footer>


  

  <script>
    

    function submitTextAreaOnKeyPress(elem){

    //document.getElementById(elem).addEventListener("keypress", submitTextAreaOnKeyPress);
   
    if(event.which === 13){

      // var formData = new FormData()
      // formData.append("textArea", elem)
      // for(let [name, value] of formData) {
      //   alert(`${name} = ${value}`);}
      
      //var formData = new FormData(elem)
      //formData.append("textArea", elem)
      // var sb = elem + "-sb"
      // sbb = document.getElementById(sb)
      // sbb.submit()

      event.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
      
      event.preventDefault(); // Prevents the addition of a new line in the text field (not needed in a lot of cases)
      


       }
     }



    
    function hidebadge(elem){
      badge = document.getElementById(elem);
      badge.style.display = badge.style.display == "none" ? "block" : "none";
    }


    function checkBadge(elem){
      if(document.getElementById(elem).innerHTML == 0){
        document.getElementById(elem).style.backgroundColor = "lightgreen";
        //document.getElementById(elem).innerHTML = "&#10004";
        document.getElementById(elem).style.color = "black";
      }
    }
    


    /*$("saveleft").click(function() {
      $.fileDownload($(this).prop('type'), {
        preparingMessageHtml: "The file download will begin shortly, please wait...",
        failMessageHtml: "There was a problem generating your report, please try again.",
        successCallback: function() { window.location.reload(true) }
      });
      return false; //this is critical to stop the click event which will trigger a normal file download!
    });*/


    var getSiblings = function (elem) {
      return Array.prototype.filter.call(elem.parentNode.children, function (sibling) {
        return sibling;
      });
    };

    var coll = document.getElementsByClassName("collapsible");
    var i;
    
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var allSibs = getSiblings(this);
        thisIndex = 0;
        for (n=0; n < allSibs.length; n++){
          if (allSibs[n] == this){
            thisIndex = n+1;
          }
          else{continue;}
        }
        for (n=thisIndex; n < allSibs.length; n++){
          var content = allSibs[n]
          
         
      if (content.style.maxHeight == "0px"){
      content.style.maxHeight = content.scrollHeight + "px";;
    } else {
      content.style.maxHeight = "0px"}
      }});

      
    }

 /* window.onscroll = function() {scrollbar()};

  function scrollbar() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
} */

    document.getElementById("left").onscroll = function() {scrollbar("left", "leftBar")};

    document.getElementById("right").onscroll = function() {scrollbar("right", "rightBar")};

    function scrollbar(elem, bar){
    var winScroll = document.getElementById(elem).scrollTop;
    /*document.getElementById("title").innerHTML = winScroll;*/
    var height = document.getElementById(elem).scrollHeight - document.getElementById(elem).clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById(bar).style.width = scrolled + "%";}


    


    function copy(that){
    var inp =document.createElement('input');
    document.body.appendChild(inp)
    inp.value =that.textContent
    inp.select();
    document.execCommand('copy',false);
    inp.remove();
    }
    


    /*document.addEventListener("DOMContentLoaded", function(event) { 
        var scrollpos = localStorage.getItem('scrollpos');
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function(e) {
        localStorage.setItem('scrollpos', window.scrollY);
    };*/

    /*var scrollposition = "{{testvar}}";
    var title = document.getElementById("title");
    title.innerHTML = scrollposition;
    var title = document.getElementById(scrollposition);
    var scrollh = title.scrollTop;
    var side = document.getElementById("left");
    side.scrollTo(scrollh);
    */
    function reloadScroll(elem){

      var toggle = localStorage.getItem("WindowToggle");
      document.getElementById("left").style.width = toggle + "%";
      document.getElementById("right").style.width = 100 - toggle + "%";
      document.getElementById("myRange").value = toggle;
      
      
      checkBadge("lbadge");
      try{
      checkBadge("rbadge");
      }
      catch (e) {
      // no badge since txt toggle right
      // just do nothing
      }

      if (elem != 0){
        /*var title = document.getElementById("title");
        title.innerHTML = elem;*/ 
        var segm = document.getElementById(elem);
        segm.scrollIntoView();}

        
      else{
        window.scrollTo(0,0);
      }
    }

  
    function off() {
      document.getElementById("overlay").style.display = "none";
    }

    function showModal(elem){
    document.getElementById(elem).style.display='block';
    }

    function hideModal(elem){
      document.getElementById(elem).style.display='none';
    }

    function toggle(){
      document.getElementById("right").style.display = document.getElementById("right").style.display == "none" ? "block" : "none";
      if(ocument.getElementById("right").style.display == "none"){
        document.getElementById("left").style.display.width="100%";
      } 
      if(ocument.getElementById("right").style.display == "block"){
        document.getElementById("left").style.display.width="50%";
      }
    }




    var slider = document.getElementById("myRange");
    
    if (localStorage.getItem("modified") != 1){
    document.getElementById("left").style.width = "50%";
    document.getElementById("right").style.width = "50%";
    localStorage.setItem("WindowToggle",50);

}
     
    //var output = document.getElementById("demo");
    //output.innerHTML = slider.value;

    slider.oninput = function() {
    //output.innerHTML = this.value;
    document.getElementById("left").style.width = this.value + "%";
    document.getElementById("right").style.width = 100 - this.value + "%";
    var modified = 1;
    localStorage.setItem("modified", 1);
    //console.log(document.getElementById("left").style.width, document.getElementById("right").style.width);
    localStorage.setItem("WindowToggle",this.value);
}





    const boxes = document.querySelectorAll('div');

    const myObserver = new ResizeObserver(entries => {
      for (let entry of entries) {
        const infoEl = entry.target.querySelector('.info');
        //const width = Math.floor(entry.contentRect.width);
        const width = entry.contentRect.width;
        const windwidth = window.innerWidth;
        var rwidth = parseInt(windwidth) - parseInt(width);
        var w = rwidth.toString() + "px";
        //document.getElementById("right").style.width = w;
        var s = document.getElementById("right").style.width;
        //console.log(width, s);
        
      }
    });

    boxes.forEach(box => {
      myObserver.observe(box);





    
});


    </script>
  <body>




  